
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

Data/qa.env
# Environment files
.env
*.env

# Ignore sensitive data files
Data/*.env